.text-input {
  font-weight: 400;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.23);
  box-sizing: border-box;
  background: none;
  height: 1.5em;
  margin: 0;
  display: block;
  min-width: 0;
  width: 100%;
  padding: 20px 14px;
  padding-right: 0;
  outline-style: none;
}
